# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.FirstWPFApp.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Marta\Desktop\FirstWPF_App\FirstWPFApp\.idea\.idea.FirstWPFApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
